


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

.todos {
  border: 1px solid rgba(128, 128, 128, 0.5);
  max-width: 400px;
  margin: 25px auto;
  padding: 15px
}

.todo-item {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(128, 128, 128, 0.5);
}
.todo-form{
  border: 1px solid rgba(128, 128, 128, 0.5);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px
}

.todo-form input{
 height: 28px;
 padding: 8px;
 margin-bottom: 10px;
}

.todo-form button{
  padding: 8px;
  margin-bottom: 10px;
  cursor: pointer;
 }

 .todo-item button{
  padding: 5px 15px;
  margin-top: 10px;
  cursor: pointer;
 }


 /* bellow are my samples  */

 .SampBTN {
  padding: 5px 15px;
  margin: 10px;
  color: white;
  background-color: black;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
 }

 .SampParOne {
  margin: 10px;
  color: white;
  background-color: black;
  width: auto;
  font-weight: bold;

 }